* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  margin: 0 auto; 
  max-width: 1024px;
}

h1 {
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    margin: 10px 0;
}

h2 {
    background-color: rgb(138, 133, 133, 0.4);
    color: rgb(59, 57, 57);
    font-family: "Lucida Sans", "Lucida Sans Regular";
    padding: 35px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    background-color: cadetblue;
    height: 60px;
    padding-top: 20px;
}
  

/* grid float */


.grid-floats .grid-item:first-child {
  width: 480px;
  height: 500px;
 
}

.grid-floats {
    text-align: center;
    list-style: none;
    padding: 1em;
}

.grid-floats::after {
    display: table;
    content: "";
    clear: both;
}

section .grid-floats .grid-item p {
    text-align: center;
    margin-top: 50px;
    background-color: rgb(20, 99, 233,.2);
    
}

.grid-floats .grid-item {
  float: left;
  margin: 10px 4px;
  padding: 5px;
  width: 238px;
  height: 500px;
  text-decoration: none;
  overflow: hidden;
  background-color: #fff;
  list-style-type: none;
  border: rgb(228, 217, 217) solid 2px;
}
.grid-floats .grid-item img {
  
  padding: 2rem;
  padding-top: 50px;
  height: 180px;
  margin-left: 30px;
}


/* ................Grid with flexbox.......... */

main .grid-flex {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: flex-start;
  padding: 1em;
}

.grid-flex::after {
    display: table;
    content: "";
    clear: both;
}

.grid-flex .grid-item {
  margin-left: 6px;
  margin-top: 5px;
  padding: 5px;
  width: 238px;
  height: 500px;
  text-decoration: none;
  overflow: hidden;
  background-color: white;
  border: rgb(228, 217, 217) solid 2px;
  border-radius: 5px;
}

ul li:hover {
  box-shadow: 5px 5px 10px 10px rgba(158, 9, 9, 0.699);
  transition: 0.8s;
  color: rgb(128, 122, 122);
}

.grid-flex .grid-item img {
  padding: 2rem;
  padding-top: 50px;
  height: 180px;
  margin-left: 30px;
}
.grid-flex .grid-item p {
  text-align: center;
  margin-top: 45px;
  background-color: rgb(20, 99, 233,.2);
  font-size: 14px;
}

.grid-flex .grid-item:first-child {
  width: 480px;
  height: 500px;
  
}


/* .................. media for tablet .............. */
@media only screen and (max-width: 1023px) {

    body {
        margin: 0 auto; 
    }
   
  /* main {
    width: 100%;
    margin-right: 0 !important;
    position: relative;
    overflow-x: hidden;
    
  } */
  .grid-floats .grid-item {
    width: 24.3%;
    height: 500px;
    margin: 0.4em;
    float: left;
    
    
  }
  .grid-floats .grid-item:first-child {
    width: 38%;
    height: 500px;
  }
  main section .grid-floats li:nth-child(2) {
    width: 38%;
    height: 500px;
  }
  main .grid-flex {
    flex-direction: row;
  }
  .grid-flex .grid-item {
    width: 25.5%;
    height: 500px;
    margin: 1%;
  }
  .grid-flex .grid-item:first-child {
    width: 40%;
    height: 500px;
    margin-left: 1%;
  }
  .grid-flex .grid-item:nth-child(2) {
    width: 40%;
    height: 500px;
  }
}

@media only screen and (max-width: 600PX) {
  body {
    width: 100%;
  }
  /* main {
    overflow-x:hidden;
  } */
  main section .grid-floats {
    padding: 1em;
  }

  .grid-floats .grid-item {
    width: 80%;
    height: 550px;
    margin: auto;
    float: none;
    margin-bottom: 1rem;
  }
  .grid-floats .grid-item:first-child {
    width: 80%;
    height: 550px;
    margin: auto;
    margin-bottom: 1rem;
  }
  .grid-floats .grid-item:nth-child(2) {
    width: 80%;
    height: 550px;
    margin: auto;
  }
  .grid-floats .grid-item:first-child img {
    padding-left: 20%;
  }
  .grid-floats .grid-item:nth-child(2) img {
    padding-left: 20%;
  }
  .grid-floats .grid-item img {
    padding-left: 20%;
  }
  .grid-floats .grid-item p {
    font-size: 1.2rem;
    font-family:  Georgia, Times, 'Times New Roman', serif;
  }
  /* flex */
  
  main section .grid-flex {
    flex-direction: column;
    align-items: center;
  }
  .grid-flex .grid-item {
    width: 80%;
    height: 550px;
    margin-right: 2em;
  }
  .grid-flex .grid-item:first-child {
    width: 80%;
    height: 550px;
    

  }
  .grid-flex .grid-item:nth-child(2) {
    width: 80%;
    height: 550px;
    

  }
  .grid-flex .grid-item p {
    font-size: 1.4rem;
    font-family:  Georgia, Times, 'Times New Roman', serif;
  }
}
