body {
  overflow-x: hidden;
}

.item-active-anchor {
  border: solid 2px rgb(207, 203, 195);
  border-radius: 70px 70px 70px 70px;
  background-color: white;
  color: black;
  height: 10px;
}
.nav-item {
  text-decoration: none;
}
.nav-ul {
  list-style: none;
}
.fas {
  color: #fff;
}
i.fas {
  margin-right: 6px;
}
.sign-button {
  border: none;
  padding: 6px;
}
.nav-container {
  padding-left: 50px;
  padding-right: 50px;
}
.second-ul {
  width: 40%;
  padding-left: 10px;
}
.li-sign-button {
  width: 90px;
  margin-top: 2px;
}

main {
  width: 100%;
  overflow: hidden;
  background-image: url(./Earner_Home_bg_desktop2x.jfif);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.main-card {
  padding-top: 0;
  margin-top: 35px;
  width: 45%;
  background-color: white;
  margin-left: 70px;
  margin-bottom: 40px;
}
.card-head {
  justify-content: space-around;
  display: flex;
  background-color: #fcfcfb;
}
.card-head-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.card-content {
  padding: 30px 25px;
}
.card-content p {
  padding: 15px 0;
}
.card-btn {
  padding-left: 15px;
}
.card-link {
  padding-left: 15px;
}

.card-content h1 {
  font-size: 3rem;
}
.card-link {
  padding: 15px 15px;
}
.business-card {
  background-image: url(./business-card.png);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;
}
.business-card h1 {
  padding: 20px 0 0 ;
}
.business-btn {
  padding: 10px 0 0 ;
}
.info-card {
  padding: 15px 25px 0 25px;
}
.info-card h2 {
  margin-bottom: 10px;
  font-size: 2.2rem;
}
.info-btn a {
  text-decoration: none;
  margin-top: 40px;
  color: black;
}
.row .col .card-no-border {
  border: none;
}
.contact-cards {
  padding: 15px 25px 0 25px;
}
.col-sm-4 .card {
  border: none;
}
.fa {
  margin-bottom: 8px;
}
a {
  color: black;
}
.card-body a {
  color: black;
}

.uber-app {
  display: flex;
  border: none;
}
.uber-app .app-sec {
  width: 100%;
  padding-bottom: 20px;
}
.uber-app .card {
  display: flex;
  border: none;
}
.img-fluid img {
  width: 50rem;
}
.uber-image {
  width: 30%;
}
.app-sec a {
  text-decoration: none;
  color: black;
  font-size: 26px;
}
.app-sec h1{
  margin: 40px 0;
}
.uber-app .app-sec .app-box {
  height: 210px;
  padding-top: 20px;
  width: 47%;
}
.row .col-lg-6 .card {
  margin-top: 50px;
  border: none;
}
.sign {
  text-decoration: none;
}
.col-lg-6 .card-body .sign {
  padding-left: 45px;
  padding-bottom: 30px;
}
.bi-arrow-right {
  margin-left: 150px;
}
footer .footer-sec {
  background-color: black;
  text-decoration: none;
}
footer .footer-sec a {
  background-color: black;
  text-decoration: none;
}
.justify-content-around {
  padding-left: 10px;
}
#copy {
  padding-left: 30px;
}

@media only screen and (max-width: 600px) {
  .row {
    margin: 0.5rem;
  }
  .main-card{
margin-left: 15px;
  }
  .main-card {
    width: 85%;
  }
  .app-sec {
    padding: 0.5rem;
  }
  .sing-up-sec {
    padding: 0.2rem;
  }

  .app-register {
    text-align: center;
    margin: 0.5rem;
  }
  .sing-up-link {
    margin-right: 4rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .img-app {
    max-width: 60px;
    max-height: 60px;
    margin: 5px 5px 5px 0;
  }
  .uber-app .justify-content-around {
    justify-content: unset ;
  }
  .uber-app .app-sec .col-sm-6 {
    width: 100%;
    height: 170px;
    margin-bottom: 25px;
  }
  .uber-app .app-sec .col-sm-6 img {
    width: 30%;
    float: left;
    margin-right: 20px;
  }
  .uber-app .app-sec .col-sm-6 a {
    margin-left: 8px;
  }
  .panner-card {
    display: block;
    position: relative;
    top: auto;
    left: auto;
  }
  .app-box {
    margin-right: 1.5rem;
    margin-left: 0;
  }
  .footer-nav {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 1rem ;
  }
  .media-sec {
    display: flex;
    justify-content: center;
  }

  .footer-media {
    margin: 0 0.3rem ;
  }
  .media-box {
    text-align: center;
  }
  .footer-items > img {
    height: auto;
    margin: 0.5rem 0;
  }
  .term-box {
    display: flex;
    justify-content: center ;
    margin: 0.5rem 0;
  }
  .contanier .footer-sec .p-5 .text-white {
    padding: unset ;
  }
  .li-sign-button {
    width: 100%;
    margin-top: 10px;
  }
  .second-ul{
    width:100%;
  }
  .first-ul{
    padding-left: 8px;
  }

}
@media only screen and (max-width:1100px) and (min-width: 600px){
  .second-ul{
    width:100%;
  }
  .li-sign-button {
    width: 100%;
    margin-top: 10px;
  }
}